%ul{class:"topnav", id:"myTopnav"}
  %li
    = link_to "SpotRepo", root_path, class: "orange barrio"
  %li
    = link_to "Spot Map", spots_path, class: "white barrio"

  .right
    - if user_signed_in?
      %li
        %a.white.barrio{href: '#'} Profile
      %li
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'white barrio'
    - else
      %li
        = link_to "Sign in", new_user_session_path, class: 'white barrio'


