%ul{class:"topnav", id:"myTopnav"}
  %li
    = link_to "BRAND", root_path
  %li
    = link_to "Spots", spots_path

  .right
    - if user_signed_in?
      %li
        %a{href: '#'} Profile
      %li
        = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      %li
        = link_to "Sign in", new_user_session_path


