body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.barrio {
  font-family: 'Barrio', cursive;
}

a {
  text-decoration: none;
  &.orange { color: $orange; }
  &:hover { text-decoration: underline; }
}

.pointer { cursor: pointer; }