$orange: #FF9900;

// .white { color: white; }

.orange { color: $orange; }

.bg-white { background-color: white; }

.white { color: white; }

.yellow { color: yellow; }

.black { color: black; }

.bg-orange { background-color: $orange; }
