//Navbar
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.btn {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  cursor:pointer;
}

.btn-primary {
  color: #fff;
  background-color: #19B5FE;
  // border-color: #2e6da4;
  &:hover {
    background-color: #1E8BC3; 
  }
}

// Flash messages

.flash {
  &.abs {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
  }
  box-shadow: 0 4px 2px -2px black;
  &.notice { 
    background-color: #00ccff;
    color: yellow;
  }
}
